<section class="page-header">
  <a style="text-decoration:none; color:inherit;" href="index.html">
    <img class="top-icon" src="top_icon.png"/>
    <h1 class="project-name">{{ site.title }}</h1>
  </a>
  <a style="text-decoration:none; color:inherit;" href="https://mipt.ru"> <h2 class="project-tagline">{{ site.tagline }}</h2> </a>
  <a href="index.html" class="btn">О Школе</a>
  <a href="https://github.com/miptmlschool/mlschl" class="btn">Материалы</a>
  <a href="syllabus.html" class="btn">Программа</a>
  <a href="https://vk.com/mlschl" class="btn">VK</a>
</section>
